body {
	background: #ffffff;
	color: #333333;
	font-size: 15px;
	font-family: 'Poppins', sans-serif;
}

main {
	padding-bottom: 5vh;
}

a,
button,
input[type=submit] {
	transition: .3s;
}

/* Titulos */

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	line-height: normal;
}

h2 {
	font-size: 1.7em;
}

h3 {
	font-size: 1.4em;
}

.title {
	text-align: center;

	h2 {
	    background: #DD624E;
	    color: #fff;
        text-align: center;
        display: inline-block;
        padding: 0 30px;
        min-width: 540px;
        margin: 0 auto;
        font-weight: bold;
        font-size: 35px;
        margin-bottom: 35px;
	}
}


/* Clases generales */

.bold {
	font-weight: 700;
}

.semi-bold {
	font-weight: 500;
}

.light {
	font-weight: 300;
}

.uppercase {
	text-transform: uppercase;
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.block {
	display: block;
}


/* Estrellas -> ratings */

.stars {
	color: #ffffff;
	font-size: 14px;
}

/* Lista de redes sociales */

.social {
	ul {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
	}

	li {
		margin: 0 7px;
		
		a {
			display: block;
			width: 30px;
			height: 30px;
			background: white;
			text-align: center;
			color: #616161;
			border-radius: 50%;
			line-height: 30px;
		}
	}
}