* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.banner-wrapper {
	background: url('img/img-minificada-800.jpg') no-repeat right center #ffc773;
	background-size: cover;
	margin: 0 auto; 
	width: 336px;
	height: 280px;
	padding: 15px;
	position: relative;

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.banner-wrapper:before {
	content: '';
	height: 15px;
	background: white;
	position: absolute;
	top: 15px;
	left: 45px;
	right: 15px;
    z-index: 10;
}

.banner-wrapper:after {
	content: '';
	height: 15px;
	width: 15px;
	background: white;
	position: absolute;
	top: 15px;
	left: 15px;
    z-index: 10;
}

.banner-inner {
}

.banner-inner:before {
	content: '';
	height: 15px;
	background: white;
	position: absolute;
	bottom: 15px;
	left: 20px;
	right: 45px;
    z-index: 10;
}

.banner-inner:after {
	content: '';
	height: 15px;
	width: 15px;
	background: white;
	position: absolute;
	bottom: 15px;
	right: 15px;
    z-index: 10;
}

.anim-letras {
	color: white;
    font-family: 'Anton', sans-serif;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 60px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    line-height: 280px;
    height: 280px;
}

.anim-1 a {
	text-decoration: none;
	color: white;
}

.anim-letras:before {
	content: '';
	display: block;
	font-size: 60px; 
	-webkit-animation: animacion 6s step-start infinite;
	-moz-animation: animacion 6s step-start infinite;
	-o-animation: animacion 6s step-start infinite;
	animation: animacion 6s step-start infinite;
}

.anim-letras:after {
	content: '';
	display: block;
	font-family: Arial;
	font-size: 13px;
	letter-spacing: 4px;
	line-height: 380px;
	-webkit-animation: url 6s step-start infinite;
	-moz-animation: url 6s step-start infinite;
	-o-animation: url 6s step-start infinite;
	animation: url 6s step-start infinite;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}


@keyframes animacion {
	0%   { 
		content: '';
		background: transparent;
		line-height: 280px;
	}

	8%   { 
		content: 'Sumate';
		font-size: 85px;
		background: transparent;
		line-height: 280px;
	}

	16%   { 
		content: 'a';
		font-size: 90px;
		background: transparent;
		line-height: 280px;
	}

	24% {
		content: 'un';
		font-size: 90px;
		background: transparent;
		line-height: 280px;
	}

	32% {
		content: 'nuevo';
		font-size: 80px;
		background: transparent;
		line-height: 280px;
	}

	40% {
		content: 'mundo';
		font-size: 80px;
		background: transparent;
		line-height: 280px;
	}

	48% {
		content: 'orgánico';
		font-size: 70px;
		background: transparent;
		line-height: 280px;
	}

	64% {
		content: 'orgánico';
		font-size: 70px;
		line-height: 280px;
		background: transparent;
	}

	65% {
		content: 'radiko';
		font-size: 90px;
		background: rgba(222,121,78,1);
		background: -moz-linear-gradient(top, rgba(222,121,78,1) 0%, rgba(221,97,78,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(222,121,78,1)), color-stop(100%, rgba(221,97,78,1)));
		background: -webkit-linear-gradient(top, rgba(222,121,78,1) 0%, rgba(221,97,78,1) 100%);
		background: -o-linear-gradient(top, rgba(222,121,78,1) 0%, rgba(221,97,78,1) 100%);
		background: -ms-linear-gradient(top, rgba(222,121,78,1) 0%, rgba(221,97,78,1) 100%);
		background: linear-gradient(to bottom, rgba(222,121,78,1) 0%, rgba(221,97,78,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#de794e', endColorstr='#dd614e', GradientType=0 );
		line-height: 260px;
		height: 280px;
	}

	100% {
		content: 'radiko';
		font-size: 90px;
		background: rgba(222,121,78,1);
		background: -moz-linear-gradient(top, rgba(222,121,78,1) 0%, rgba(221,97,78,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(222,121,78,1)), color-stop(100%, rgba(221,97,78,1)));
		background: -webkit-linear-gradient(top, rgba(222,121,78,1) 0%, rgba(221,97,78,1) 100%);
		background: -o-linear-gradient(top, rgba(222,121,78,1) 0%, rgba(221,97,78,1) 100%);
		background: -ms-linear-gradient(top, rgba(222,121,78,1) 0%, rgba(221,97,78,1) 100%);
		background: linear-gradient(to bottom, rgba(222,121,78,1) 0%, rgba(221,97,78,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#de794e', endColorstr='#dd614e', GradientType=0 );
		line-height: 260px;
		height: 280px;
	}
}

@-webkit-keyframes animacion {  
    0%   { 
		content: '';
		background: transparent;
		line-height: 280px;
	}

	8%   { 
		content: 'Sumate';
		font-size: 85px;
		background: transparent;
		line-height: 280px;
	}

	16%   { 
		content: 'a';
		font-size: 90px;
		background: transparent;
		line-height: 280px;
	}

	24% {
		content: 'un';
		font-size: 90px;
		background: transparent;
		line-height: 280px;
	}

	32% {
		content: 'nuevo';
		font-size: 80px;
		background: transparent;
		line-height: 280px;
	}

	40% {
		content: 'mundo';
		font-size: 80px;
		background: transparent;
		line-height: 280px;
	}

	48% {
		content: 'orgánico';
		font-size: 70px;
		background: transparent;
		line-height: 280px;
	}

	64% {
		content: 'orgánico';
		font-size: 70px;
		line-height: 280px;
		background: transparent;
	}

	65% {
		content: 'radiko';
		font-size: 90px;
		background: rgba(222,121,78,1);
		background: -moz-linear-gradient(top, rgba(222,121,78,1) 0%, rgba(221,97,78,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(222,121,78,1)), color-stop(100%, rgba(221,97,78,1)));
		background: -webkit-linear-gradient(top, rgba(222,121,78,1) 0%, rgba(221,97,78,1) 100%);
		background: -o-linear-gradient(top, rgba(222,121,78,1) 0%, rgba(221,97,78,1) 100%);
		background: -ms-linear-gradient(top, rgba(222,121,78,1) 0%, rgba(221,97,78,1) 100%);
		background: linear-gradient(to bottom, rgba(222,121,78,1) 0%, rgba(221,97,78,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#de794e', endColorstr='#dd614e', GradientType=0 );
		line-height: 260px;
		height: 280px;
	}

	100% {
		content: 'radiko';
		font-size: 90px;
		background: rgba(222,121,78,1);
		background: -moz-linear-gradient(top, rgba(222,121,78,1) 0%, rgba(221,97,78,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(222,121,78,1)), color-stop(100%, rgba(221,97,78,1)));
		background: -webkit-linear-gradient(top, rgba(222,121,78,1) 0%, rgba(221,97,78,1) 100%);
		background: -o-linear-gradient(top, rgba(222,121,78,1) 0%, rgba(221,97,78,1) 100%);
		background: -ms-linear-gradient(top, rgba(222,121,78,1) 0%, rgba(221,97,78,1) 100%);
		background: linear-gradient(to bottom, rgba(222,121,78,1) 0%, rgba(221,97,78,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#de794e', endColorstr='#dd614e', GradientType=0 );
		line-height: 260px;
		height: 280px;
	}
}

@-moz-keyframes animacion {  
    0%   { 
		content: '';
		background: transparent;
		line-height: 280px;
	}

	8%   { 
		content: 'Sumate';
		font-size: 85px;
		background: transparent;
		line-height: 280px;
	}

	16%   { 
		content: 'a';
		font-size: 90px;
		background: transparent;
		line-height: 280px;
	}

	24% {
		content: 'un';
		font-size: 90px;
		background: transparent;
		line-height: 280px;
	}

	32% {
		content: 'nuevo';
		font-size: 80px;
		background: transparent;
		line-height: 280px;
	}

	40% {
		content: 'mundo';
		font-size: 80px;
		background: transparent;
		line-height: 280px;
	}

	48% {
		content: 'orgánico';
		font-size: 70px;
		background: transparent;
		line-height: 280px;
	}

	64% {
		content: 'orgánico';
		font-size: 70px;
		line-height: 280px;
		background: transparent;
	}

	65% {
		content: 'radiko';
		font-size: 90px;
		background: rgba(222,121,78,1);
		background: -moz-linear-gradient(top, rgba(222,121,78,1) 0%, rgba(221,97,78,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(222,121,78,1)), color-stop(100%, rgba(221,97,78,1)));
		background: -webkit-linear-gradient(top, rgba(222,121,78,1) 0%, rgba(221,97,78,1) 100%);
		background: -o-linear-gradient(top, rgba(222,121,78,1) 0%, rgba(221,97,78,1) 100%);
		background: -ms-linear-gradient(top, rgba(222,121,78,1) 0%, rgba(221,97,78,1) 100%);
		background: linear-gradient(to bottom, rgba(222,121,78,1) 0%, rgba(221,97,78,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#de794e', endColorstr='#dd614e', GradientType=0 );
		line-height: 260px;
		height: 280px;
	}

	100% {
		content: 'radiko';
		font-size: 90px;
		background: rgba(222,121,78,1);
		background: -moz-linear-gradient(top, rgba(222,121,78,1) 0%, rgba(221,97,78,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(222,121,78,1)), color-stop(100%, rgba(221,97,78,1)));
		background: -webkit-linear-gradient(top, rgba(222,121,78,1) 0%, rgba(221,97,78,1) 100%);
		background: -o-linear-gradient(top, rgba(222,121,78,1) 0%, rgba(221,97,78,1) 100%);
		background: -ms-linear-gradient(top, rgba(222,121,78,1) 0%, rgba(221,97,78,1) 100%);
		background: linear-gradient(to bottom, rgba(222,121,78,1) 0%, rgba(221,97,78,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#de794e', endColorstr='#dd614e', GradientType=0 );
		line-height: 260px;
		height: 280px;
	}
}

@-o-keyframes animacion {
    0%   { 
		content: '';
		background: transparent;
		line-height: 280px;
	}

	8%   { 
		content: 'Sumate';
		font-size: 85px;
		background: transparent;
		line-height: 280px;
	}

	16%   { 
		content: 'a';
		font-size: 90px;
		background: transparent;
		line-height: 280px;
	}

	24% {
		content: 'un';
		font-size: 90px;
		background: transparent;
		line-height: 280px;
	}

	32% {
		content: 'nuevo';
		font-size: 80px;
		background: transparent;
		line-height: 280px;
	}

	40% {
		content: 'mundo';
		font-size: 80px;
		background: transparent;
		line-height: 280px;
	}

	48% {
		content: 'orgánico';
		font-size: 70px;
		background: transparent;
		line-height: 280px;
	}

	64% {
		content: 'orgánico';
		font-size: 70px;
		line-height: 280px;
		background: transparent;
	}

	65% {
		content: 'radiko';
		font-size: 90px;
		background: rgba(222,121,78,1);
		background: -moz-linear-gradient(top, rgba(222,121,78,1) 0%, rgba(221,97,78,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(222,121,78,1)), color-stop(100%, rgba(221,97,78,1)));
		background: -webkit-linear-gradient(top, rgba(222,121,78,1) 0%, rgba(221,97,78,1) 100%);
		background: -o-linear-gradient(top, rgba(222,121,78,1) 0%, rgba(221,97,78,1) 100%);
		background: -ms-linear-gradient(top, rgba(222,121,78,1) 0%, rgba(221,97,78,1) 100%);
		background: linear-gradient(to bottom, rgba(222,121,78,1) 0%, rgba(221,97,78,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#de794e', endColorstr='#dd614e', GradientType=0 );
		line-height: 260px;
		height: 280px;
	}

	100% {
		content: 'radiko';
		font-size: 90px;
		background: rgba(222,121,78,1);
		background: -moz-linear-gradient(top, rgba(222,121,78,1) 0%, rgba(221,97,78,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(222,121,78,1)), color-stop(100%, rgba(221,97,78,1)));
		background: -webkit-linear-gradient(top, rgba(222,121,78,1) 0%, rgba(221,97,78,1) 100%);
		background: -o-linear-gradient(top, rgba(222,121,78,1) 0%, rgba(221,97,78,1) 100%);
		background: -ms-linear-gradient(top, rgba(222,121,78,1) 0%, rgba(221,97,78,1) 100%);
		background: linear-gradient(to bottom, rgba(222,121,78,1) 0%, rgba(221,97,78,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#de794e', endColorstr='#dd614e', GradientType=0 );
		line-height: 260px;
		height: 280px;
	}
}

@keyframes url {
	0%   { 
		content: '';
	}

	64% {
		content: '';
	}

	65% {
		content: 'www.radiko.com.ar';
	}

	100% {
		content: 'www.radiko.com.ar';
	}
}

@-webkit-keyframes url {  
    0%   { 
    	content: '';
    }

    64% {
    	content: '';
    }

    65% {
    	content: 'www.radiko.com.ar';
    }

    100% {
    	content: 'www.radiko.com.ar';
    }
}

@-moz-keyframes url {  
    0%   { 
    		content: '';
    	}

    	64% {
    		content: '';
    	}

    	65% {
    		content: 'www.radiko.com.ar';
    	}

    	100% {
    		content: 'www.radiko.com.ar';
    	}
}

@-o-keyframes url {
    0%   { 
    		content: '';
    	}

    	64% {
    		content: '';
    	}

    	65% {
    		content: 'www.radiko.com.ar';
    	}

    	100% {
    		content: 'www.radiko.com.ar';
    	}
}