body {
  background: #ffffff;
  color: #333333;
  font-size: 15px;
  font-family: 'Poppins', sans-serif; }

/*GENERALES*/
h2 {
  text-transform: uppercase;
  text-align: center; }

/*HEADER*/
header {
  min-height: 100vh; }

.intro-fondo {
  background: url(../images/bg-1.jpg) no-repeat center center #d44f3e;
  color: #ffffff;
  padding: 7rem 0 9rem 0;
  text-align: center;
  -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 90%, 50% 100%, 0 90%);
  clip-path: polygon(0% 0%, 100% 0, 100% 90%, 50% 100%, 0 90%); }

.intro h1 {
  background: url(../images/logo.png) no-repeat 0 0 transparent;
  background-size: 100%;
  padding: 0;
  margin: 0 auto;
  width: 270px;
  height: 100px;
  font-size: 0; }

.intro form {
  margin-top: 2rem; }

/*SECCION BENEFICIOS*/
.beneficios {
  padding: 3rem 0; }

.beneficio {
  padding: 2rem;
  text-align: center;
  border: 1px solid #333333;
  margin-top: 5rem;
  -webkit-box-shadow: 10px 10px 0px -2px #333333;
  -moz-box-shadow: 10px 10px 0px -2px #333333;
  box-shadow: 10px 10px 0px -2px #333333;
  min-height: 290px; }

.row-beneficio .img {
  height: 75px;
  margin-bottom: 20px;
  overflow: hidden; }

.row-beneficio img {
  width: 70px;
  color: #DD624E;
  fill: #DD624E; }

.row-beneficio p {
  margin-bottom: 0; }

/*SECCION COMO-FUNCIONA*/
.como-funciona {
  background-color: #50D2A4;
  color: #ffffff;
  padding: 5rem 0 3rem 0;
  -webkit-clip-path: polygon(0 10%, 50% 0, 100% 10%, 100% 100%, 0% 100%);
  clip-path: polygon(0 10%, 50% 0, 100% 10%, 100% 100%, 0% 100%); }

.como-funciona img {
  display: block;
  margin: auto; }

.items-como {
  margin-top: 1.5rem; }

/*SECCION REGISTRO*/
.suscripcion {
  background: #DD624E;
  color: #ffffff;
  text-align: center;
  padding: 3rem 0 4.2rem 0; }

/*FOOTER*/
footer {
  background: #404040;
  color: #ffffff;
  padding: 20px 0;
  text-align: center; }

footer .logo-foo {
  background: url(../images/logo-footer.png) no-repeat 0 0 transparent;
  background-size: 100%;
  color: transparent;
  font-size: 0;
  display: inline-block;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 110px;
  height: 40px; }

footer h2,
footer a,
footer p,
footer li {
  color: #ffffff; }

footer a {
  font-weight: bold; }

footer a:hover {
  color: #ffffff;
  text-decoration: none; }

footer ul {
  margin: 0 0 20px 0;
  padding: 0;
  list-style: none; }

/* Lista de redes sociales */
.social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.social li {
  margin: 0 7px; }

.social li a {
  display: block;
  width: 30px;
  height: 30px;
  background: white;
  text-align: center;
  color: #616161;
  border-radius: 50%;
  line-height: 30px; }

/*forms*/
.registro {
  margin: auto; }
  .registro input[type=email] {
    width: 100%;
    padding: 20px 70px 20px 15px;
    border: 0; }
  .registro .btn {
    width: 100%;
    height: 100%;
    background-color: #50D2A4;
    color: #FFFFFF;
    border: 0;
    border-radius: 0;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-top: 15px; }
  .registro .btn:hover {
    background-color: #3fc093; }

.form-news {
  width: 55%;
  margin: 0 auto;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  display: box;
  -webkit-justify-content: space-between;
  justify-content: space-between; }
  .form-news input {
    margin-right: 20px; }

.modal-content {
  margin-top: 30vh;
  border-radius: 0;
  border: 0;
  -webkit-box-shadow: 10px 10px 0px -2px #333333;
  -moz-box-shadow: 10px 10px 0px -2px #333333;
  box-shadow: 10px 10px 0px -2px #333333; }

.modal-header {
  padding: 25px 25px 0 25px;
  border-bottom: 0; }

.modal-body {
  padding: 0 25px 25px 25px; }

@media screen and (min-width: 768px) {
  /*FOOTER*/
  footer {
    text-align: left; } }

@media screen and (min-width: 1200px) {
  /*GENERALES*/
  h2 {
    font-size: 5rem; }
  /*forms*/
  .registro .btn {
    margin-top: 0; }
  .registro .col-md-2 {
    padding-left: 0; }
  /*HEADER*/
  .intro-fondo {
    -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 80%, 50% 100%, 0 80%);
    clip-path: polygon(0% 0%, 100% 0, 100% 80%, 50% 100%, 0 80%); }
  .intro p {
    font-size: 1.2rem; }
  /*SECCION BENEFICIOS*/
  .beneficios {
    padding: 1rem 0;
    min-height: 670px; }
  .row-beneficio .col div {
    width: 380px;
    padding: 20px 60px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    -webkit-clip-path: polygon(20% 0, 100% 0%, 80% 100%, 0% 100%);
    clip-path: polygon(20% 0, 100% 0%, 80% 100%, 0% 100%); }
  .row-beneficio p {
    padding-right: 30px; }
  /*SECCION COMO-FUNCIONA*/
  .como-funciona {
    padding: 11rem 0 5rem;
    -webkit-clip-path: polygon(0 15%, 50% 0, 100% 15%, 100% 100%, 0% 100%);
    clip-path: polygon(0 15%, 50% 0, 100% 15%, 100% 100%, 0% 100%); }
  .items-como {
    margin-top: 4rem; }
  .items-izq {
    text-align: right; }
  .items-como img {
    width: 100%; }
  /*SECCION REGISTRO*/
  .suscripcion {
    padding: 5rem 0; }
  .suscripcion p {
    font-size: 1.5rem; }
  /*FOOTER*/
  footer {
    padding-bottom: 35px; }
  footer ul {
    margin: 25px 0 0 0;
    line-height: 200%; }
  footer .social ul {
    justify-content: flex-start;
    margin-left: -10px; } }
